Repository privacy-scaling-explorations/sonobe, pull requests merged in 2023-10, with the labels that each got.

#30 add error handling to several pending methods
  rust-toolchain
  src/ccs/mod.rs
  src/ccs/r1cs.rs
  src/decider/circuit.rs
  src/folding/hypernova/cccs.rs
  src/folding/hypernova/lcccs.rs
  src/folding/hypernova/nimfs.rs
  src/folding/nova/circuits.rs
  src/folding/nova/nifs.rs
  src/lib.rs
  src/pedersen.rs
  src/utils/vec.rs
Labels: common

#28 Refactor Matrix vectors and Logical operation
  src/ccs/mod.rs
  src/ccs/r1cs.rs
  src/folding/nova/nifs.rs
  src/utils/vec.rs
Labels: common

#31 impl hash committed instance gadget (#17)
  Cargo.toml
  src/folding/circuits/mod.rs
  src/folding/circuits/nonnative.rs
  src/folding/nova/circuits.rs
  src/folding/nova/mod.rs
Labels: Nova, circuits

#26 Circom wrapper's helper function
  .github/workflows/ci.yml
  .gitignore
  Cargo.toml
  src/frontend/circom/mod.rs
  src/frontend/circom/test_folder/compile.sh
  src/frontend/circom/test_folder/test_circuit.circom
  src/frontend/mod.rs
Labels: frontend

#33 implement Nova's AugmentedFCircuit
  Cargo.toml
  src/folding/circuits/cyclefold.rs
  src/folding/circuits/nonnative.rs
  src/folding/nova/circuits.rs
  src/folding/nova/mod.rs
  src/folding/nova/nifs.rs
  src/frontend/arkworks/mod.rs
Labels: Nova, circuits

#34 Add Pedersen::{commit,open,verify} MSM error handling
  src/folding/hypernova/cccs.rs
  src/folding/hypernova/lcccs.rs
  src/folding/hypernova/nimfs.rs
  src/folding/hypernova/utils.rs
  src/folding/nova/circuits.rs
  src/folding/nova/mod.rs
  src/folding/nova/nifs.rs
  src/lib.rs
  src/pedersen.rs
Labels: common
