Repository privacy-scaling-explorations/sonobe, pull requests merged in 2024-04, with the labels that each got.

#81 Link committed instances and r to the public input x in cyclefold circuit
  folding-schemes/src/folding/circuits/nonnative.rs
  folding-schemes/src/folding/nova/circuits.rs
  folding-schemes/src/folding/nova/cyclefold.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/utils/mle.rs
Labels: Nova, circuits

#86 Reduce the number of constraints in `AugmentedFCircuit` for Nova
  folding-schemes/src/folding/circuits/nonnative.rs
  folding-schemes/src/folding/nova/circuits.rs
  folding-schemes/src/folding/nova/cyclefold.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/folding/nova/nifs.rs
Labels: Nova, circuits

#88 Reduce the number of constraints in `DeciderEthCircuit`
  folding-schemes/Cargo.toml
  folding-schemes/src/folding/circuits/nonnative.rs
  folding-schemes/src/folding/circuits/nonnative/affine.rs
  folding-schemes/src/folding/circuits/nonnative/mod.rs
  folding-schemes/src/folding/circuits/nonnative/uint.rs
  folding-schemes/src/folding/nova/circuits.rs
  folding-schemes/src/folding/nova/cyclefold.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/utils/gadgets.rs
Labels: arkworks, decider

#39 add README.md
  README.md
  cli/README.md
  cli/src/settings.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  solidity-verifiers/README.md
  solidity-verifiers/templates/kzg10_verifier.askama.sol
Labels: documentation

#87 Add solidity verifier of the nova+cyclefold
  .github/workflows/ci.yml
  .gitignore
  cli/README.md
  cli/src/main.rs
  cli/src/settings.rs
  folding-schemes/Cargo.toml
  folding-schemes/src/folding/circuits/nonnative/uint.rs
  folding-schemes/src/folding/hypernova/utils.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/protogalaxy/folding.rs
  folding-schemes/src/lib.rs
  folding-schemes/src/utils/espresso/sum_check/verifier.rs
  solidity-verifiers/Cargo.toml
  solidity-verifiers/src/evm.rs
  solidity-verifiers/src/lib.rs
  solidity-verifiers/src/utils/mod.rs
  solidity-verifiers/src/verifiers/g16.rs
  solidity-verifiers/src/verifiers/kzg.rs
  solidity-verifiers/src/verifiers/mod.rs
  solidity-verifiers/src/verifiers/nova_cyclefold.rs
  solidity-verifiers/templates/groth16_verifier.askama.sol
  solidity-verifiers/templates/kzg10_verifier.askama.sol
  solidity-verifiers/templates/nova_cyclefold_decider.askama.sol
Labels: Nova, decider
