Repository privacy-scaling-explorations/sonobe, pull requests merged in 2024-08, with the labels that each got.

#131 feat: fold noir circuits
  .github/workflows/ci.yml
  .gitignore
  examples/noir_full_flow.rs
  folding-schemes/Cargo.toml
  folding-schemes/src/frontend/mod.rs
  folding-schemes/src/frontend/noir/mod.rs
  folding-schemes/src/frontend/noir/test_folder/compile.sh
  folding-schemes/src/frontend/noir/test_folder/test_circuit/Nargo.toml
  folding-schemes/src/frontend/noir/test_folder/test_circuit/src/main.nr
  folding-schemes/src/frontend/noir/test_folder/test_mimc/Nargo.toml
  folding-schemes/src/frontend/noir/test_folder/test_mimc/src/main.nr
  folding-schemes/src/frontend/noir/test_folder/test_no_external_inputs/Nargo.toml
  folding-schemes/src/frontend/noir/test_folder/test_no_external_inputs/src/main.nr
  solidity-verifiers/Cargo.toml
Labels: frontend

#120 Generalized CycleFold
  folding-schemes/src/constants.rs
  folding-schemes/src/folding/circuits/cyclefold.rs
  folding-schemes/src/folding/hypernova/cccs.rs
  folding-schemes/src/folding/hypernova/circuits.rs
  folding-schemes/src/folding/hypernova/lcccs.rs
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/hypernova/nimfs.rs
  folding-schemes/src/folding/nova/circuits.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/folding/nova/nifs.rs
  folding-schemes/src/folding/nova/serialize.rs
  folding-schemes/src/transcript/poseidon.rs
Labels: circuits

#132 Hypernova decider circuit (for onchain verification in ethereum)
  folding-schemes/Cargo.toml
  folding-schemes/src/folding/circuits/cyclefold.rs
  folding-schemes/src/folding/circuits/nonnative/affine.rs
  folding-schemes/src/folding/hypernova/decider_eth_circuit.rs
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/utils/gadgets.rs
Labels: HyperNova, circuits, decider

#142 Enable WASM-compat and monitor it in the CI
  .github/scripts/wasm-target-test-build.sh
  .github/workflows/ci.yml
  README.md
  folding-schemes/Cargo.toml
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/mod.rs
Labels: wasm/browser

#127 feat: implement nova's zk layer
  folding-schemes/src/arith/r1cs.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/folding/nova/zk.rs
  folding-schemes/src/lib.rs
Labels: Nova

#143 Optimize CycleFold circuit MSM approach
  folding-schemes/src/folding/circuits/cyclefold.rs
  folding-schemes/src/folding/hypernova/circuits.rs
  folding-schemes/src/folding/hypernova/decider_eth_circuit.rs
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/hypernova/nimfs.rs
  folding-schemes/src/folding/nova/mod.rs
Labels: circuits, optimization

#149 feat: Minimal in-browser compatibility for the crate
  examples/circom_full_flow.rs
  folding-schemes/Cargo.toml
  folding-schemes/src/frontend/circom/mod.rs
  folding-schemes/src/frontend/circom/utils.rs
  folding-schemes/src/frontend/noir/mod.rs
  folding-schemes/src/utils/mod.rs
Labels: wasm/browser
