Repository privacy-scaling-explorations/sonobe, pull requests merged in 2024-06, with the labels that each got.

#106 BN254 and Grumpkin Poseidon configurations
  examples/external_inputs.rs
  examples/utils.rs
  folding-schemes/Cargo.toml
  folding-schemes/src/commitment/ipa.rs
  folding-schemes/src/commitment/kzg.rs
  folding-schemes/src/commitment/mod.rs
  folding-schemes/src/commitment/pedersen.rs
  folding-schemes/src/folding/circuits/sum_check.rs
  folding-schemes/src/folding/hypernova/nimfs.rs
  folding-schemes/src/folding/nova/circuits.rs
  folding-schemes/src/folding/nova/cyclefold.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/folding/nova/nifs.rs
  folding-schemes/src/folding/protogalaxy/folding.rs
  folding-schemes/src/transcript/poseidon.rs
  folding-schemes/src/transcript/poseidon/bn254.rs
  folding-schemes/src/transcript/poseidon/grumpkin.rs
  folding-schemes/src/utils/espresso/sum_check/mod.rs
  folding-schemes/src/utils/vec.rs
  solidity-verifiers/src/verifiers/kzg.rs
  solidity-verifiers/src/verifiers/nova_cyclefold.rs
Labels: common

#105 feat (circom): allow to define the step_native in Rust
  folding-schemes/src/frontend/circom/mod.rs
Labels: frontend

#110 Optimize native nimfs
  folding-schemes/src/ccs/mod.rs
  folding-schemes/src/ccs/r1cs.rs
  folding-schemes/src/folding/hypernova/cccs.rs
  folding-schemes/src/folding/hypernova/circuits.rs
  folding-schemes/src/folding/hypernova/lcccs.rs
  folding-schemes/src/folding/hypernova/nimfs.rs
  folding-schemes/src/folding/hypernova/utils.rs
  folding-schemes/src/folding/nova/nifs.rs
  folding-schemes/src/folding/protogalaxy/folding.rs
  folding-schemes/src/lib.rs
  folding-schemes/src/utils/espresso/virtual_polynomial.rs
  folding-schemes/src/utils/mle.rs
  folding-schemes/src/utils/vec.rs
Labels: HyperNova

#112 Implement HyperNova's AugmentedFCircuit
  folding-schemes/src/folding/circuits/sum_check.rs
  folding-schemes/src/folding/hypernova/cccs.rs
  folding-schemes/src/folding/hypernova/circuits.rs
  folding-schemes/src/folding/hypernova/lcccs.rs
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/hypernova/nimfs.rs
Labels: HyperNova, circuits
