Repository privacy-scaling-explorations/sonobe, pull requests merged in 2024-01, with the labels that each got.

#46 update RelaxedR1CSGadget to work with FieldVar trait so we can plug in FpVar and NonNativeFieldVar indistinctly
  src/decider/circuit.rs
  src/folding/nova/cyclefold.rs
Labels: Nova, circuits, decider

#47 Feature/sumcheck circuit
  src/folding/circuits/mod.rs
  src/folding/circuits/sum_check.rs
  src/folding/hypernova/nimfs.rs
  src/utils/espresso/sum_check/mod.rs
  src/utils/espresso/sum_check/prover.rs
  src/utils/espresso/sum_check/structs.rs
  src/utils/espresso/sum_check/verifier.rs
  src/utils/lagrange_poly.rs
  src/utils/mod.rs
Labels: circuits, common

#49 Nova+CycleFold Decider circuit (for onchain use case)
  src/decider/circuit.rs
  src/decider/mod.rs
  src/folding/nova/circuits.rs
  src/folding/nova/decider.rs
  src/folding/nova/ivc.rs
  src/folding/nova/mod.rs
  src/lib.rs
  src/pedersen.rs
  src/utils/gadgets.rs
  src/utils/mod.rs
Labels: Nova, circuits, decider

#61 A circuit for computing c, from section 5, step 5 of "A multi-folding scheme for CCS"
  src/folding/circuits/mod.rs
  src/folding/circuits/utils.rs
  src/folding/hypernova/circuit.rs
  src/folding/hypernova/mod.rs
  src/folding/hypernova/utils.rs
Labels: HyperNova, circuits

#54 refactor frontend composition, update usage of arkworks CS helpers, refactor test circuits
  src/ccs/r1cs.rs
  src/folding/nova/circuits.rs
  src/folding/nova/decider.rs
  src/folding/nova/ivc.rs
  src/frontend/arkworks/mod.rs
  src/frontend/mod.rs
Labels: frontend

#62 Add CommitmentProver trait, and add KZG prover to it
  Cargo.toml
  src/commitment/kzg.rs
  src/commitment/mod.rs
  src/commitment/pedersen.rs
  src/folding/hypernova/cccs.rs
  src/folding/hypernova/circuit.rs
  src/folding/hypernova/lcccs.rs
  src/folding/hypernova/nimfs.rs
  src/folding/hypernova/utils.rs
  src/folding/nova/circuits.rs
  src/folding/nova/decider.rs
  src/folding/nova/ivc.rs
  src/folding/nova/mod.rs
  src/folding/nova/nifs.rs
  src/folding/protogalaxy/folding.rs
  src/lib.rs
Labels: common

#63 Adapt Nova usage of commitment to the generic trait
  rust-toolchain
  src/folding/hypernova/circuit.rs
  src/folding/nova/circuits.rs
  src/folding/nova/decider.rs
  src/folding/nova/ivc.rs
  src/folding/nova/mod.rs
  src/folding/nova/nifs.rs
Labels: Nova
