Repository privacy-scaling-explorations/sonobe, pull requests merged in 2024-11, with the labels that each got.

#145 Onchain decider circuit for Protogalaxy
  examples/circom_full_flow.rs
  examples/full_flow.rs
  examples/noir_full_flow.rs
  examples/noname_full_flow.rs
  folding-schemes/src/arith/ccs/circuits.rs
  folding-schemes/src/arith/ccs/mod.rs
  folding-schemes/src/arith/r1cs/circuits.rs
  folding-schemes/src/arith/r1cs/mod.rs
  folding-schemes/src/commitment/ipa.rs
  folding-schemes/src/commitment/pedersen.rs
  folding-schemes/src/folding/circuits/cyclefold.rs
  folding-schemes/src/folding/circuits/decider/mod.rs
  folding-schemes/src/folding/circuits/decider/off_chain.rs
  folding-schemes/src/folding/circuits/decider/on_chain.rs
  folding-schemes/src/folding/circuits/mod.rs
  folding-schemes/src/folding/circuits/nonnative/affine.rs
  folding-schemes/src/folding/circuits/nonnative/uint.rs
  folding-schemes/src/folding/hypernova/cccs.rs
  folding-schemes/src/folding/hypernova/circuits.rs
  folding-schemes/src/folding/hypernova/decider_eth.rs
  folding-schemes/src/folding/hypernova/decider_eth_circuit.rs
  folding-schemes/src/folding/hypernova/lcccs.rs
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/hypernova/nimfs.rs
  folding-schemes/src/folding/nova/circuits.rs
  folding-schemes/src/folding/nova/decider.rs
  folding-schemes/src/folding/nova/decider_circuits.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/folding/nova/nifs/nova.rs
  folding-schemes/src/folding/nova/traits.rs
  folding-schemes/src/folding/nova/zk.rs
  folding-schemes/src/folding/protogalaxy/circuits.rs
  folding-schemes/src/folding/protogalaxy/decider_eth_circuit.rs
  folding-schemes/src/folding/protogalaxy/folding.rs
  folding-schemes/src/folding/protogalaxy/mod.rs
  folding-schemes/src/folding/protogalaxy/traits.rs
  folding-schemes/src/folding/traits.rs
  folding-schemes/src/lib.rs
  folding-schemes/src/utils/gadgets.rs
  frontends/src/circom/utils.rs
  frontends/src/noir/mod.rs
  solidity-verifiers/src/utils/mod.rs
  solidity-verifiers/src/verifiers/nova_cyclefold.rs
  solidity-verifiers/templates/nova_cyclefold_decider.askama.sol
Labels: ProtoGalaxy

#173 Add NIFSGadgetTrait, implement Mova's NIFSGadget, adapt Nova NIFSGadget into NIFSGadgetTrait
  examples/full_flow.rs
  examples/noir_full_flow.rs
  folding-schemes/src/arith/r1cs/circuits.rs
  folding-schemes/src/folding/circuits/decider/mod.rs
  folding-schemes/src/folding/circuits/decider/off_chain.rs
  folding-schemes/src/folding/nova/circuits.rs
  folding-schemes/src/folding/nova/decider.rs
  folding-schemes/src/folding/nova/decider_circuits.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/folding/nova/nifs/mod.rs
  folding-schemes/src/folding/nova/nifs/nova.rs
  folding-schemes/src/folding/nova/nifs/nova_circuits.rs
  folding-schemes/src/folding/nova/nifs/ova.rs
  folding-schemes/src/folding/nova/nifs/ova_circuits.rs
  folding-schemes/src/folding/nova/traits.rs
  frontends/src/noir/test_folder/test_mimc/Nargo.toml
  frontends/src/noir/test_folder/test_mimc/src/main.nr
  solidity-verifiers/templates/nova_cyclefold_decider.askama.sol
Labels: Nova, Nova variations

#174 Docs: Fix Typo
  README.md
Labels: typos

#172 Onchain decider for Protogalaxy
  .github/workflows/ci.yml
  cli/src/main.rs
  folding-schemes/src/folding/hypernova/circuits.rs
  folding-schemes/src/folding/hypernova/utils.rs
  folding-schemes/src/folding/nova/nifs/mod.rs
  folding-schemes/src/folding/nova/zk.rs
  folding-schemes/src/folding/protogalaxy/decider_eth.rs
  folding-schemes/src/folding/protogalaxy/mod.rs
  folding-schemes/src/lib.rs
  folding-schemes/src/utils/espresso/virtual_polynomial.rs
  frontends/src/circom/mod.rs
  rust-toolchain
Labels: ProtoGalaxy, decider
