Repository privacy-scaling-explorations/sonobe, pull requests merged in 2024-10, with the labels that each got.

#163 Implement OVA NIFS
  .github/workflows/typos.toml
  folding-schemes/src/folding/hypernova/decider_eth.rs
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/mod.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/nifs.rs
  folding-schemes/src/folding/nova/traits.rs
  folding-schemes/src/folding/ova/mod.rs
  folding-schemes/src/folding/ova/nifs.rs
Labels: Nova variations

#164 implement Nova's Offchain Decider (prover & verifier) for non-ethereum cases
  folding-schemes/Cargo.toml
  folding-schemes/src/folding/circuits/cyclefold.rs
  folding-schemes/src/folding/nova/decider.rs
  folding-schemes/src/folding/nova/decider_circuits.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/mod.rs
Labels: Nova, decider

#167 Add IVCProof to the existing folding schemes (Nova,HyperNova,ProtoGalaxy)
  .gitignore
  examples/circom_full_flow.rs
  examples/external_inputs.rs
  examples/multi_inputs.rs
  examples/noir_full_flow.rs
  examples/noname_full_flow.rs
  examples/sha256.rs
  folding-schemes/src/folding/hypernova/cccs.rs
  folding-schemes/src/folding/hypernova/decider_eth.rs
  folding-schemes/src/folding/hypernova/decider_eth_circuit.rs
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/hypernova/serialize.rs
  folding-schemes/src/folding/mod.rs
  folding-schemes/src/folding/nova/decider_circuits.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/folding/nova/serialize.rs
  folding-schemes/src/folding/protogalaxy/mod.rs
  folding-schemes/src/lib.rs
Labels: common

#168 Move the experimental frontends into a separate crate, so that when not using them they don't take several minutes to compile (and indirect dependencies).
  .github/scripts/wasm-target-test-build.sh
  .github/workflows/ci.yml
  .gitignore
  Cargo.toml
  README.md
  examples/circom_full_flow.rs
  examples/noir_full_flow.rs
  examples/noname_full_flow.rs
  folding-schemes/Cargo.toml
  folding-schemes/src/folding/nova/zk.rs
  folding-schemes/src/frontend/circom/test_folder/compile.sh
  folding-schemes/src/frontend/mod.rs
  folding-schemes/src/frontend/utils.rs
  frontends/Cargo.toml
  frontends/README.md
  frontends/src/circom/mod.rs
  frontends/src/circom/test_folder/circuits/is_zero.circom
  frontends/src/circom/test_folder/compile.sh
  frontends/src/circom/test_folder/cubic_circuit.circom
  frontends/src/circom/test_folder/no_external_inputs.circom
  frontends/src/circom/test_folder/with_external_inputs.circom
  frontends/src/circom/utils.rs
  frontends/src/lib.rs
  frontends/src/noir/mod.rs
  frontends/src/noir/test_folder/compile.sh
  frontends/src/noir/test_folder/test_circuit/Nargo.toml
  frontends/src/noir/test_folder/test_circuit/src/main.nr
  frontends/src/noir/test_folder/test_mimc/Nargo.toml
  frontends/src/noir/test_folder/test_mimc/src/main.nr
  frontends/src/noir/test_folder/test_no_external_inputs/Nargo.toml
  frontends/src/noir/test_folder/test_no_external_inputs/src/main.nr
  frontends/src/noname/mod.rs
  frontends/src/noname/utils.rs
  solidity-verifiers/Cargo.toml
Labels: frontend
