Repository privacy-scaling-explorations/sonobe, pull requests merged in 2024-09, with the labels that each got.

#156 implement HyperNova's DeciderEth
  examples/circom_full_flow.rs
  examples/full_flow.rs
  examples/noir_full_flow.rs
  examples/noname_full_flow.rs
  folding-schemes/src/folding/hypernova/decider_eth.rs
  folding-schemes/src/folding/hypernova/decider_eth_circuit.rs
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/hypernova/nimfs.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/zk.rs
  folding-schemes/src/lib.rs
  solidity-verifiers/src/verifiers/nova_cyclefold.rs
Labels: HyperNova, decider

#123 Protogalaxy based IVC
  folding-schemes/src/arith/ccs.rs
  folding-schemes/src/arith/mod.rs
  folding-schemes/src/arith/r1cs.rs
  folding-schemes/src/folding/circuits/cyclefold.rs
  folding-schemes/src/folding/circuits/nonnative/affine.rs
  folding-schemes/src/folding/hypernova/circuits.rs
  folding-schemes/src/folding/hypernova/decider_eth.rs
  folding-schemes/src/folding/hypernova/decider_eth_circuit.rs
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/nova/circuits.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/folding/nova/nifs.rs
  folding-schemes/src/folding/nova/serialize.rs
  folding-schemes/src/folding/nova/traits.rs
  folding-schemes/src/folding/nova/zk.rs
  folding-schemes/src/folding/protogalaxy/circuits.rs
  folding-schemes/src/folding/protogalaxy/folding.rs
  folding-schemes/src/folding/protogalaxy/mod.rs
  folding-schemes/src/folding/protogalaxy/traits.rs
  folding-schemes/src/folding/protogalaxy/utils.rs
  folding-schemes/src/frontend/circom/mod.rs
  folding-schemes/src/frontend/mod.rs
  folding-schemes/src/frontend/utils.rs
  folding-schemes/src/utils/vec.rs
Labels: ProtoGalaxy

#157 Traits for witnesses and committed instances
  folding-schemes/src/folding/hypernova/cccs.rs
  folding-schemes/src/folding/hypernova/circuits.rs
  folding-schemes/src/folding/hypernova/decider_eth_circuit.rs
  folding-schemes/src/folding/hypernova/lcccs.rs
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/mod.rs
  folding-schemes/src/folding/nova/circuits.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/folding/nova/zk.rs
  folding-schemes/src/folding/protogalaxy/circuits.rs
  folding-schemes/src/folding/protogalaxy/mod.rs
  folding-schemes/src/folding/protogalaxy/traits.rs
  folding-schemes/src/folding/traits.rs
  folding-schemes/src/lib.rs
Labels: common

#160 Implement Nova's Offchain-Decider circuits
  folding-schemes/src/folding/circuits/cyclefold.rs
  folding-schemes/src/folding/circuits/mod.rs
  folding-schemes/src/folding/nova/decider_circuits.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
Labels: Nova, decider

#162 Refactor `Arith` trait
  folding-schemes/src/arith/ccs.rs
  folding-schemes/src/arith/mod.rs
  folding-schemes/src/arith/r1cs.rs
  folding-schemes/src/folding/hypernova/cccs.rs
  folding-schemes/src/folding/hypernova/circuits.rs
  folding-schemes/src/folding/hypernova/decider_eth_circuit.rs
  folding-schemes/src/folding/hypernova/lcccs.rs
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/hypernova/nimfs.rs
  folding-schemes/src/folding/hypernova/utils.rs
  folding-schemes/src/folding/nova/circuits.rs
  folding-schemes/src/folding/nova/decider_circuits.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/folding/nova/nifs.rs
  folding-schemes/src/folding/nova/traits.rs
  folding-schemes/src/folding/nova/zk.rs
  folding-schemes/src/folding/protogalaxy/circuits.rs
  folding-schemes/src/folding/protogalaxy/constants.rs
  folding-schemes/src/folding/protogalaxy/folding.rs
  folding-schemes/src/folding/protogalaxy/mod.rs
  folding-schemes/src/folding/protogalaxy/traits.rs
  folding-schemes/src/folding/traits.rs
  folding-schemes/src/utils/mod.rs
Labels: common
