Repository privacy-scaling-explorations/sonobe, pull requests merged in 2024-07, with the labels that each got.

#116 Implement HyperNova's IVC into the FoldingScheme trait
  examples/circom_full_flow.rs
  examples/external_inputs.rs
  examples/full_flow.rs
  examples/multi_inputs.rs
  examples/sha256.rs
  examples/utils.rs
  folding-schemes/src/commitment/ipa.rs
  folding-schemes/src/commitment/kzg.rs
  folding-schemes/src/commitment/mod.rs
  folding-schemes/src/commitment/pedersen.rs
  folding-schemes/src/folding/circuits/cyclefold.rs
  folding-schemes/src/folding/hypernova/cccs.rs
  folding-schemes/src/folding/hypernova/circuits.rs
  folding-schemes/src/folding/hypernova/lcccs.rs
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/hypernova/nimfs.rs
  folding-schemes/src/folding/hypernova/utils.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/folding/nova/serialize.rs
  folding-schemes/src/folding/nova/traits.rs
  folding-schemes/src/lib.rs
  folding-schemes/src/utils/mod.rs
  solidity-verifiers/src/verifiers/nova_cyclefold.rs
Labels: HyperNova

#118 hash of public params for Nova & HyperNova
  examples/circom_full_flow.rs
  examples/external_inputs.rs
  examples/full_flow.rs
  examples/multi_inputs.rs
  examples/sha256.rs
  folding-schemes/Cargo.toml
  folding-schemes/src/arith/ccs.rs
  folding-schemes/src/arith/mod.rs
  folding-schemes/src/arith/r1cs.rs
  folding-schemes/src/commitment/mod.rs
  folding-schemes/src/folding/circuits/cyclefold.rs
  folding-schemes/src/folding/hypernova/cccs.rs
  folding-schemes/src/folding/hypernova/circuits.rs
  folding-schemes/src/folding/hypernova/lcccs.rs
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/hypernova/nimfs.rs
  folding-schemes/src/folding/hypernova/utils.rs
  folding-schemes/src/folding/nova/circuits.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/folding/nova/nifs.rs
  folding-schemes/src/folding/nova/serialize.rs
  folding-schemes/src/folding/nova/traits.rs
  folding-schemes/src/folding/protogalaxy/folding.rs
  folding-schemes/src/lib.rs
  folding-schemes/src/utils/mle.rs
  folding-schemes/src/utils/mod.rs
  solidity-verifiers/src/verifiers/g16.rs
  solidity-verifiers/src/verifiers/kzg.rs
  solidity-verifiers/src/verifiers/mod.rs
  solidity-verifiers/src/verifiers/nova_cyclefold.rs
  solidity-verifiers/templates/nova_cyclefold_decider.askama.sol
Labels: Nova, HyperNova, common

#94 Unify the computation of digests and challenges in different folding schemes
  folding-schemes/src/arith/ccs.rs
  folding-schemes/src/arith/r1cs.rs
  folding-schemes/src/commitment/ipa.rs
  folding-schemes/src/commitment/kzg.rs
  folding-schemes/src/commitment/mod.rs
  folding-schemes/src/commitment/pedersen.rs
  folding-schemes/src/folding/circuits/cyclefold.rs
  folding-schemes/src/folding/circuits/nonnative/affine.rs
  folding-schemes/src/folding/circuits/nonnative/uint.rs
  folding-schemes/src/folding/circuits/sum_check.rs
  folding-schemes/src/folding/hypernova/cccs.rs
  folding-schemes/src/folding/hypernova/circuits.rs
  folding-schemes/src/folding/hypernova/lcccs.rs
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/hypernova/nimfs.rs
  folding-schemes/src/folding/hypernova/utils.rs
  folding-schemes/src/folding/nova/circuits.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/folding/nova/nifs.rs
  folding-schemes/src/folding/protogalaxy/folding.rs
  folding-schemes/src/folding/protogalaxy/mod.rs
  folding-schemes/src/folding/protogalaxy/traits.rs
  folding-schemes/src/frontend/circom/mod.rs
  folding-schemes/src/frontend/circom/utils.rs
  folding-schemes/src/frontend/mod.rs
  folding-schemes/src/transcript/mod.rs
  folding-schemes/src/transcript/poseidon.rs
  folding-schemes/src/utils/espresso/sum_check/mod.rs
  folding-schemes/src/utils/espresso/sum_check/prover.rs
  folding-schemes/src/utils/espresso/sum_check/structs.rs
  folding-schemes/src/utils/espresso/sum_check/verifier.rs
  folding-schemes/src/utils/espresso/virtual_polynomial.rs
  folding-schemes/src/utils/lagrange_poly.rs
  solidity-verifiers/src/verifiers/kzg.rs
Labels: circuits, common

#126 fix sumcheck verifier for when poly=0
  folding-schemes/src/utils/espresso/sum_check/mod.rs
  folding-schemes/src/utils/espresso/sum_check/verifier.rs
Labels: common

#121 feat: add noname as a frontend to sonobe
  README.md
  examples/noname_full_flow.rs
  folding-schemes/Cargo.toml
  folding-schemes/src/frontend/mod.rs
  folding-schemes/src/frontend/noname/mod.rs
  folding-schemes/src/frontend/noname/utils.rs
  folding-schemes/src/lib.rs
  solidity-verifiers/Cargo.toml
Labels: frontend

#119 Add multi-instances folding to AugmentedFCircuit & IVC
  README.md
  examples/circom_full_flow.rs
  examples/external_inputs.rs
  examples/full_flow.rs
  examples/multi_inputs.rs
  examples/noname_full_flow.rs
  examples/sha256.rs
  folding-schemes/src/arith/ccs.rs
  folding-schemes/src/arith/mod.rs
  folding-schemes/src/arith/r1cs.rs
  folding-schemes/src/folding/circuits/cyclefold.rs
  folding-schemes/src/folding/hypernova/circuits.rs
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/hypernova/nimfs.rs
  folding-schemes/src/folding/nova/circuits.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/folding/nova/serialize.rs
  folding-schemes/src/lib.rs
  folding-schemes/src/utils/mod.rs
  solidity-verifiers/src/verifiers/nova_cyclefold.rs
Labels: HyperNova

#95 Protogalaxy verifier circuit
  folding-schemes/src/arith/r1cs.rs
  folding-schemes/src/folding/protogalaxy/circuits.rs
  folding-schemes/src/folding/protogalaxy/folding.rs
  folding-schemes/src/folding/protogalaxy/mod.rs
  folding-schemes/src/folding/protogalaxy/traits.rs
  folding-schemes/src/folding/protogalaxy/utils.rs
Labels: ProtoGalaxy, circuits

#129 Enable hiding commitments in nova and hypernova
  examples/circom_full_flow.rs
  examples/external_inputs.rs
  examples/full_flow.rs
  examples/multi_inputs.rs
  examples/sha256.rs
  folding-schemes/src/folding/circuits/cyclefold.rs
  folding-schemes/src/folding/hypernova/cccs.rs
  folding-schemes/src/folding/hypernova/circuits.rs
  folding-schemes/src/folding/hypernova/lcccs.rs
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/hypernova/nimfs.rs
  folding-schemes/src/folding/hypernova/utils.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/nova/decider_eth_circuit.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/folding/nova/nifs.rs
  folding-schemes/src/folding/nova/serialize.rs
  folding-schemes/src/folding/nova/traits.rs
  folding-schemes/src/lib.rs
  folding-schemes/src/utils/mod.rs
  solidity-verifiers/src/verifiers/nova_cyclefold.rs
Labels: common
