Repository privacy-scaling-explorations/sonobe, pull requests merged in 2025-01, with the labels that each got.

#190 fix: typos in documentation files
  cli/src/main.rs
Labels: typos

#193 Remove `fs` from the parameters of `Decider::preprocess`
  examples/circom_full_flow.rs
  examples/full_flow.rs
  examples/noir_full_flow.rs
  examples/noname_full_flow.rs
  folding-schemes/src/folding/hypernova/decider_eth.rs
  folding-schemes/src/folding/nova/decider.rs
  folding-schemes/src/folding/nova/decider_eth.rs
  folding-schemes/src/folding/protogalaxy/decider_eth.rs
  folding-schemes/src/lib.rs
  solidity-verifiers/src/verifiers/nova_cyclefold.rs
Labels: decider

#195 Introduce getter methods for information related to constraint systems
  folding-schemes/src/arith/ccs/mod.rs
  folding-schemes/src/arith/mod.rs
  folding-schemes/src/arith/r1cs/circuits.rs
  folding-schemes/src/arith/r1cs/mod.rs
  folding-schemes/src/folding/circuits/cyclefold.rs
  folding-schemes/src/folding/circuits/decider/mod.rs
  folding-schemes/src/folding/circuits/decider/off_chain.rs
  folding-schemes/src/folding/circuits/decider/on_chain.rs
  folding-schemes/src/folding/hypernova/cccs.rs
  folding-schemes/src/folding/hypernova/circuits.rs
  folding-schemes/src/folding/hypernova/decider_eth_circuit.rs
  folding-schemes/src/folding/hypernova/lcccs.rs
  folding-schemes/src/folding/hypernova/mod.rs
  folding-schemes/src/folding/hypernova/nimfs.rs
  folding-schemes/src/folding/hypernova/utils.rs
  folding-schemes/src/folding/nova/mod.rs
  folding-schemes/src/folding/nova/nifs/mod.rs
  folding-schemes/src/folding/nova/nifs/mova.rs
  folding-schemes/src/folding/nova/nifs/nova.rs
  folding-schemes/src/folding/nova/nifs/ova.rs
  folding-schemes/src/folding/nova/traits.rs
  folding-schemes/src/folding/nova/zk.rs
  folding-schemes/src/folding/protogalaxy/decider_eth.rs
  folding-schemes/src/folding/protogalaxy/folding.rs
  folding-schemes/src/folding/protogalaxy/mod.rs
  folding-schemes/src/folding/protogalaxy/traits.rs
  folding-schemes/src/utils/vec.rs
Labels: CCS/R1CS
